@font-face {
  font-family: "Gothampro";
  src: url("fonts/gothampro.eot");
  src: url("fonts/gothampro.eot") format("embedded-opentype"),
    url("fonts/gothampro.woff2") format("woff2"),
    url("fonts/gothampro.woff") format("woff"),
    url("fonts/gothampro.ttf") format("truetype"),
    url("fonts/gothampro.svg#gothampro") format("svg");
}
@font-face {
  font-family: "Gothampro-black";
  src: url("fonts/gothampro_black.eot");
  src: url("fonts/gothampro_black.eot") format("embedded-opentype"),
    url("fonts/gothampro_black.woff2") format("woff2"),
    url("fonts/gothampro_black.woff") format("woff"),
    url("fonts/gothampro_black.ttf") format("truetype"),
    url("fonts/gothampro_black.svg#gothampro_black") format("svg");
}

html {
  scroll-behavior: smooth;

  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
:after,
:before {
  box-sizing: inherit;
  // outline: solid 1px tomato;
}
body {
  margin: 0;
  font-family: Gothampro, Helvetica, sans-serif;
  letter-spacing: 0px;
  font-size: 18px;
  line-height: 1.55;
  color: $text-color;
  font-weight: 400;
  min-width: 320px;
  font-size: 14px;

  @media (min-width: 767px) {
    font-size: 20px;
  }
}

body.is-open {
  overflow: hidden;
}

image {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.icon {
  fill: currentColor;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
main {
  position: relative;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}

.social-list {
  display: flex;
}
.social-list--items {
  &:not(:last-of-type) {
    margin-right: 40px;
  }
  a {
    display: block;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    color: #191c21;
    transition: color $timing;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
