.section--how-to-buy {
  position: relative;
  background-image: url("./img/how-to-by-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media (min-width: 800px) {
    min-height: 81dvh;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("./img/how-to-by-bg@2x.webp");
  }
}

body.noWebp .section--how-to-buy {
  background-image: url("./img/how-to-by-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("./img/how-to-by-bg@2x.jpg");
  }
}
.section-title--how-to-buy {
  margin-right: 40px;
}

.how-to-bye-text-decor {
  position: absolute;
  width: 100%;
  height: 13vw;
  bottom: 0;
  background-image: url("./img/how-to-buy-decor.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.container--how-to-bye {
  position: relative;
  z-index: 1;
  @media (min-width: 572px) and (max-width: 766px) {
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: 1100px) {
    display: flex;
    justify-content: space-between;
  }
}
.online-store {
  flex: 1 1;
}
.online-store-list {
  list-style: disc;
  list-style-position: inside;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.store-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}
.online-store-item {
  flex-basis: 50%;
  margin-bottom: 8px;
}
.online-store-link {
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 700;
  text-decoration: underline;
  display: inline-block;
  transition: all 250ms ease;
  &:hover {
    transform: scale(1.05);
    color: $accent-color;
  }
}
.container--how-to-bye--offline {
  position: relative;
  z-index: 1;
  @media (min-width: 572px) {
    display: flex;
    justify-content: space-between;
  }
}
.book-store-list {
  flex-basis: 50%;
}
.offline-store__name {
  font-family: "Gothampro-black", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  font-style: normal;

  font-weight: 700;
}
.select-title {
  margin-bottom: 10px;
}
