.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  overflow-y: auto;
  opacity: 0.9;
  background: $background-color;
  color: $text-color;
  backdrop-filter: blur(8px);
  transform: translateY(-100%);
  transition: transform 250ms linear;
  padding-top: 80px;

  @media screen and (min-width: 768px) {
    height: 60dvh;
  }

  @media screen and (max-width: 799px) {
    display: block;
  }
}

.container--mobile-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu.is-open {
  transform: translateY(0);
}

.navigation__mobile-menu {
  text-align: center;
  ul {
    margin-bottom: 64px;
  }
  .navigation__mobile-menu list {
    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }

  .navigation__link {
    padding: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
  }
}
.hamburger {
  padding: 10px 10px;
  display: block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  @media screen and (min-width: 800px) {
    display: none;
  }
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-open:hover {
  opacity: 0.7;
}
.hamburger.is-open .hamburger__inner,
.hamburger.is-open .hamburger__inner::before,
.hamburger.is-open .hamburger__inner::after {
  background-color: $accent-color;
}

.hamburger__box {
  width: 30px;
  height: 16px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  width: 30px;
  height: 2px;
  background-color: $accent-color;

  border-radius: 2px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
  display: block;
}
.hamburger__inner::before {
  top: -7px;
}
.hamburger__inner::after {
  bottom: -7px;
}

// STAND

.hamburger__stand .hamburger__inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    background-color 0s 0.075s linear;
}
.hamburger__stand .hamburger__inner::before {
  transition: top 0.075s 0.075s ease-in,
    transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger__stand .hamburger__inner::after {
  transition: bottom 0.075s 0.075s ease-in,
    transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger__stand.is-open .hamburger__inner {
  transform: rotate(90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0s 0.15s linear;
}
.hamburger__stand.is-open .hamburger__inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.075s 0.1s ease-out,
    transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger__stand.is-open .hamburger__inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.075s 0.1s ease-out,
    transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}
